azul-00 = #a7c9d5
azul-01 = #3d8ea1
azul-02 = #226777
amarillo-00 = #f2ab2b
.overflow-hidden
	overflow hidden
.hidden
	display none
.relative
	position relative
.separated
	letter-spacing 3px
.mayus
	text-transform uppercase
.azul-00
	color azul-00
.azul-01
	color azul-01
.azul-02
	color azul-02
.back-azul-00
	background-color azul-00
.back-azul-01
	background-color azul-01
.back-azul-02
	background-color azul-02
.white
	color white
.amarillo-00
	color amarillo-00
.paytone
	font-family 'Paytone One', sans-serif
.roboto
	font-family 'Roboto', sans-serif
.p-top-40
	padding-top 40px
.p-bottom-40
	padding-bottom 40px
body
	background transparent
	font-family 'Roboto', sans-serif
#main
	overflow hidden
.navbar
	background -moz-linear-gradient(top, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0) 100%)
	background -webkit-linear-gradient(top, rgba(0,0,0,0.65) 58%,rgba(0,0,0,0) 100%)
	background linear-gradient(to bottom, rgba(0,0,0,0.65) 58%,rgba(0,0,0,0) 100%)
	background-color transparent
	border-bottom 1px solid amarillo-00
.navbar-brand
	img
		width 56px
		height auto
		display block
.navbar-dark
	.navbar-toggler
		border none
.menu-header-menu-container
	width 100%
.navbar-collapse
	padding-left 0
	padding-top 10px
	li
		display block
		margin 5px 0
		a
			color white

.big-background
	height 300px !important
	background transparent
	background-size cover
	a
		width 100%
		height 100%
		display block
		overflow hidden
		position relative
		background rgba(red, .2)
		

.main-banner-home
	width 100%
	display block
	height 300px
	background gray
	border-bottom 5px solid amarillo-00
	overflow hidden
	position relative
	padding-bottom 56.25%
	padding-top 25px
	height 0
	iframe
		position absolute
		top 0
		left 0
		width 125%
		height 116%
		margin-left -12.5%
	&.atracciones
		background transparent url(./images/atracciones-top-aquaracer.png) no-repeat center center
		background-size cover
	&.precios
		background transparent url(./images/precios-top-banner-los-camachos.png) no-repeat center center
		background-size cover
	&.servicios
		background transparent url(./images/servicios-top-banner.png) no-repeat center center
		background-size cover
	&.contacto
		background transparent url(./images/contacto-top-banner-los-camachos.png) no-repeat center center
		background-size cover
h1.banner-title
	font-size 2em
	line-height .6em
	color white
	position relative
	z-index 11
	margin-top 120px
	span
		font-size .4em
		letter-spacing 3px
.home-price-block
	width 100%
	background azul-00
	height 420px
	background transparent url(./images/background-precios-mobile.jpg) no-repeat 80px top
	background-size 500px
	padding-top 20px
	position relative
	overflow hidden
h2.title
	color white
	padding-left 150px
	font-size 1.4em
.image-racer-home
	width 185%
	height auto
	position absolute
	left 0
	bottom 0
	img
		width 100%
		height auto
		display block
.prices-container
	margin-top 40px
	.slick-dots
		padding-top 20px
		padding-left 60px
		padding-bottom 20px
		position relative
		z-index 10
.price-item
	color white
	padding-left 120px
	position relative
	z-index 10
	.big-letter
		position absolute
		z-index -1
		font-size 6em
		top -45px
		left 100px
		color rgba(white, .4)
	p
		margin-bottom 0
		&.price-title
			font-size .7em
		&.big
			font-size 2em
			margin-top -10px
			position relative
			&::before
				content ''
				width 80px
				height 2px
				background amarillo-00
				bottom 0
				position absolute
		&.diclaimer
			font-size .6em
			font-weight 100
			padding-right 50px
			margin-top -15px
	.olas
		padding-left 80px
		img
			width 40px
.rutas-back
	background-image url(./images/background-rutas-parallax-mobile.jpg)
	background-position center -45%
	background-repeat no-repeat
	background-size 100%
	border-top 1px solid azul-01
	position relative
.cicle-left-home
	background-color amarillo-00
	width 50px
	height 50px
	border-radius 50%
	position absolute
	left -25px
	top -25px
.cicle-right-home
	background-color amarillo-00
	width 70px
	height 70px
	border-radius 50%
	position absolute
	right -25px
	top 70%
	display flex
	align-items center
	z-index 10
	img
		width 60px
		margin-left -30px
	&.prices
		top -35px
		right -45px
.rutas-home
	text-align center
	padding 30px 0
	h2.title-rutas
		color azul-01
		display inline-block
		margin-bottom 0
	p
		color azul-01
		font-size .8em
	.routes-container
		text-align center
	.route-item
		display inline-block
		width 80%
		height auto
		.image
			margin-bottom 30px
			text-align center
		img
			height auto
			width 75%
			display inline-block
.slick-arrow
	color transparent
	position absolute
	top 0
	background none
	border none
.slick-dots
	padding 0
	margin 0
	text-align center
	li
		display inline-block
		overflow hidden
		background azul-01
		transition background .5s ease
		width 14px
		height 14px
		border-radius 50%
		overflow hidden
		margin 0 5px
		border 2px solid rgba(azul-00, .2)
		&.slick-active
			background amarillo-00
			transition background 1s ease
		button
			background none
			color transparent
			border none
.button-rutas
	padding 30px 0 0
	a
		display flex
		flex-direction row
		align-items center
		justify-content center
		img
			width 35px
			position relative
			z-index 2
		.white-block
			background-color white
			padding-left 10px
			padding-right 10px
			border-radius 4px
			margin-left -5px
			position relative
			z-index 1
.main-container-atracciones
	background-image url(./images/atracciones-background.png)
	background-repeat no-repeat
	background-size cover
	background-position center 130px
.atraccion-item
	color white
	text-align center
	margin-bottom 20px
	.slick-dots
		margin-top -60px
		z-index 10
		position absolute
		right 0
		width 100%
		background purple
		text-align right
		padding 20px 10px 10px 10px
		background -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 55%)
		background -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 55%)
		background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 55%)
		li
			margin 10px 10px 0 10px
	.photo
		position relative
		.photos-container
			box-shadow -5px 5px 10px rgba(black, .2)
	img
		width 100%
	.circle
		width 40px
		height 40px
		border-radius 50%
		background-color amarillo-00
		position absolute
		bottom -12px
		left -2px
		display flex
		align-items center
		z-index 10
		img
			margin-left 20px
			width 60px
	.title
		padding 0
		text-align center
		margin-top 10px
.atracciones-gallery
	position relative
	.gallery-item
		img
			width 100%
			height auto
	.slick-dots
		bottom 15px
		position absolute
		width 100%
		li
			margin 0 10px
.atracciones-map
	img
		width 100%
		height auto
.zones-container
	position relative
	.slick-dots
		position absolute
		bottom -40px
		width 100%
	.zone-item
		padding 30px 20px 60px 20px
		.title
			color white
			text-align center
			font-size 1.4em
		.info-container
			background-color white
			color black
			padding 20px
			margin-top 20px
			box-shadow -5px 5px 10px rgba(black, .2)
			p
				margin-bottom 0
		&.purple
			background-color purple
		&.green
			background-color green
		&.blue
			background-color blue
.icons-container
	text-align center
	padding 80px 0 60px 0
	.icon-item
		display inline-block
		width 49%
		img
			width 60%
			height auto
.price-block-container
	width 90%
	margin 0 auto
	display flex
	align-items center
	justify-content space-between
	padding-top 60px
	padding-bottom 60px
.price-block
	.price-item
		padding-left 0
		display inline-block
		width 55%
		p.diclaimer
			padding 0
			text-align center
		.big-letter
			left -5px
		.info-inner-container
			display flex
			flex-direction column
			align-items flex-end
	.photo
		width 35%
		display inline-block
		img
			width 100%
			height auto
.block-groups
	height 180px
	background transparent url(./images/precios-background-boletos-del-mes.jpg) no-repeat center center
	background-size cover
	display block
	width 100%
	display flex
	align-items center
	p
		padding 0 40px
.tickets-container
	.slick-list
		overflow visible
	.ticket-item
		padding 20px 0
		img
			width 100%
			height auto
			margin-top -130px
		.download
		.share
			text-align center
			margin-top -50px
			a
				background white
				border-radius 22px
				color amarillo-00
				display inline-block
				padding 10px 20px
				text-transform uppercase
				font-size 1.2em
		.share
			margin-top 30px
.logo-item
	width 32%
	display inline-block
	text-align center
	img
		width 80%
		height auto
		display inline-block
img.convenios
	width 100%
	height auto
	margin-bottom 30px
.convenios-container
	position relative
.routes-selector
	position absolute
	top 10px
	color amarillo-00
	z-index 9
	width 90%
	text-align center
	a
		background azul-01
		padding 5px 60px
		display inline-block
	.inner-routes-list-container
		height 0
		overflow hidden
		transition height .5s ease
		&.opened
			height auto
			transition height .5s ease
	.inner-routes-list
		background azul-01
		padding 10px 0
		li
			display block
			&:last-of-type a
				border-bottom none
		a
			color white
			border-bottom 1px solid white
			
.routes-disclaimer
	position absolute
	bottom -10px
	font-size .8em
	z-index 9
	width 90%
	p
		background white
		padding 10px 20px
		width 90%
		margin-left auto
		margin-right auto
		font-size .8em
.maps-right
	.map
		height 420px
		width 100%
		background gray
.contact-container
	padding-bottom 40px
.contact-text
	padding-top 30px
	padding-bottom 30px
	text-align center
.form-group
	label
		font-weight 100
		font-size .8em
.form-control
	background-color azul-00
	border-radius 0
	border none
	transition background-color .5s ease
	color white
	&:focus
		background-color azul-01
		transition all .5s ease
		color white
.btn-send
	background-color azul-01
	border-radius 0
	padding-left 2em
	padding-right 2em
footer
	color white
	font-weight 100
	.block-footer
		border-top 1px solid amarillo-00
		padding-top 20px
		&:first-of-type
			border none
			padding-top 0
	.likes
		padding 20px 30px
		overflow hidden
	.social-links
		padding 30px 0
		margin 0
		text-align center
		li
			display inline-block
			margin 0 10px
			a
				color white
			img
				width 25px
				height auto
				display inline-block
	.footer-title
		font-size 1.1em
		font-weight normal
	.footer-menu
		padding 0
		li
			display block
			a
				color white
@media screen and (min-width: 400px)
	.rutas-back
		background-position center -400%
	.home-price-block
		background-position -40% top
		background-size 700px
		height 620px
	.price-item
		padding-left 10%
		.big-letter
			left 45%
	h2.title
		padding-left 45%
	.rutas-back
		background-position center -400px
		background-size 768px
	.price-block-container
		width 340px
	.tickets-container
		.ticket-item
			img
				width 340px
				margin-left auto
				margin-right auto
	footer
		.likes
			padding 20px 80px
@media screen and (min-width: 576px)
	.price-block-container
		width 90%
		flex-direction column
	.price-block
		.price-item
			width 75%
			.big-letter
				left -10px
				font-size 9em
				top -75px
			p.price-title
				font-size 1.2em
			p.big
				font-size 3em
				margin-top -20px
				&::before
					width 130px
		.photo
			width 70%
			margin-bottom 30px
	.block-groups
		height 280px
		p
			padding 0 140px
	footer
		.block-footer
			border-top none
			padding-top 0
			border-left 1px solid amarillo-00
@media screen and (min-width: 600px)
	.home-price-block
		background-position -70% top
		height 720px
		background-size 900px
@media screen and (min-width: 768px)
	#masthead
		background-color rgba(purple, .2)
		background -moz-linear-gradient(top, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0) 100%)
		background -webkit-linear-gradient(top, rgba(0,0,0,0.65) 58%,rgba(0,0,0,0) 100%)
		background linear-gradient(to bottom, rgba(0,0,0,0.65) 58%,rgba(0,0,0,0) 100%)
		height 68px
		overflow hidden
		display block
		position fixed
		z-index 1
		width 100%
	.navbar
		width 760px
		margin 0 auto
		background none
	.navbar-collapse
		justify-content flex-end
		li
			margin 0
			display inline-block
			a
				padding 5px
	.big-background
		height 480px !important
	.main-banner-home
		height 480px
		margin-top -70px
		iframe
			width 240%
			height 120%
			margin-left -70%
			margin-top -10%
	h1.banner-title
		margin-top 370px
	h2.title
		font-size 2em
		padding-left 50%
	.home-price-block
		padding-top 50px
		background transparent url(./images/background-precios-1920.jpg) no-repeat 200px top
		background-size cover
		height 500px
	.price-item
		.big-letter
			left 48%
	.image-racer-home
		width 120%
	.rutas-back
		background-image url(./images/background-rutas-parallax-1920.jpg)
		background-position center -160px
		background-size 1200px
	.cicle-left-home
		width 110px
		height 110px
		left -55px
		top -55px
	.cicle-right-home
		background-color amarillo-00
		width 130px
		height 130px
		right -55px
		top 55%
		img
			width 100px
			margin-left -80px
		&.prices
			top -70px
			right -100px
	.rutas-home
		h2.title-rutas
			font-size 2.6em
		p
			font-size .9em
		.route-item
			width 60%
			.title
				font-size 1.8em
	.button-rutas
		a
			img
				width 50px
			.white-block
				font-size 1.2em
	.main-container-atracciones
		background-position center 180px
	.icons-container
		.icon-item
			width 16%
			img
				width 80%
	.price-block-container
		width 75%
	.price-block
		.price-item
			width 75%
		.photo
			width 55%
	.tickets-container
		.ticket-item
			img
				width 200px
			.download
			.share
				margin-top -40px
				a
					border-radius 22px
					font-size .9em
			.share
				margin-top 40px
	.block-groups
		background none
	.container-fluid.block-groups
		background transparent url(./images/precios-background-boletos-del-mes-1920.jpg) no-repeat center center
		background-size cover
	.logo-item
		width 18%
		img
			width 80%
	.maps-container
		height 480px
		margin-bottom 60px
	.routes-title
		background azul-01
		width 100%
	.maps-left
		background azul-00
		padding-right 0
		padding-left 0
		height 480px
		p
			background azul-01
			padding 10px 0
			font-size 1.4em
	.routes-list
		padding 0
		display flex
		align-items center
		flex-flow column
		justify-content center
		padding-top 20px
		li
			display block
			border-bottom 1px solid rgba(azul-01, 1)
			text-align center
			padding-top 15px
			padding-bottom 15px
			width 80%
			a
				color white
			&:last-of-type
				border none
			&.active
				background rgba(azul-01, .3)
				a
					color azul-01
					font-weight 700
	.maps-right
		padding-left 0
		.map
			height 480px
	.contact-container
		display flex
		flex-flow row-reverse
		padding-bottom 40px
	.contact-text
		text-align left
	footer
		.social-links
			padding 30px 0
			margin 0
			text-align center
			li
				display inline-block
				margin 0 10px
				a
					color white
				img
					width 30px
					height auto
					display inline-block
@media screen and (min-width: 992px)
	.navbar
		width 960px
		margin 0 auto
		background none
	.big-background
		height 570px !important
	.main-banner-home
		height 570px
		h1.banner-title
			font-size 2.8em
			margin-top 470px
	h2.title
		font-size 2.4em
		padding-left 60%
	.home-price-block
		height 500px
	.prices-container
		.slick-dots
			padding-left 400px
	.price-item
		padding-left 12%
		.big-letter
			left 57%
			top -43px
		p.price-title
			font-size .85em
		p.big
			font-size 2.4em
		p.diclaimer
			font-size .8em
		.olas
			img
				width 65px
	.image-racer-home
		width 100%
	.rutas-back
		background-size 1400px
		background-position center -320px
	.cicle-right-home
		top 70%
	.button-rutas
		padding-top 60px
		a
			img
				width 80px
			.white-block
				font-size 1.6em
	.main-container-atracciones
		background-position center 210px
	.atraccion-item
		.title
			font-size 1.8em
	.icons-container
		.icon-item
			img
				width 65%
	.price-block
		.price-item
			width 65%
		.photo
			width 50%
	.block-groups
		height 380px
		p
			padding 0 300px
	.maps-container
		height 650px
	.maps-right .map
	.maps-left
		height 650px
@media screen and (min-width: 1200px)
	.navbar
		width 1170px
	.home-price-block
		height 600px
	.image-racer-home
		width 80%
	.rutas-back
		background-image url(./images/background-rutas-parallax-1920.jpg)
		background-size 1500px
		background-position center -360px
	.main-container-atracciones
		background-position center 210px
		padding-top 80px
		padding-bottom 100px
	.main-banner-home
		h1.banner-title
			margin-top 700px
	.zones-container
		position relative
		.slick-dots
			position absolute
			bottom -40px
			width 100%
		.zone-item
			padding 30px 50px
			.info-container
				padding 20px 20px 40px 20px
				margin-top 20px
	.icons-container
		.icon-item
			img
				width 60%
	.price-block-container
		flex-direction row
		&.right-block
			margin-left 10%
	.price-block
		.price-item
			width 40%
		.photo
			width 50%
			display flex
			justify-content flex-end
			align-items center
			img
				width 210px
	.cicle-right-home
		&.prices
			right -14%
	.block-groups
		p
			padding 0 550px
@media screen and (min-width: 1400px)
	.rutas-back
		background-size 1700px
		background-position center -250px
	.price-block-container
		&.right-block
			margin-left 5%
	.price-block
		.price-item
			p.big
				font-size 3.4em
	.cicle-right-home
		&.prices
			right -21%
@media screen and (min-width: 1600px)
	.home-price-block
		height 800px
	.prices-container
		.slick-dots
			padding-left 500px
	.image-racer-home
		width 90%
	.rutas-back
		background-size 2100px
		background-position center -410px
	.price-block-container
		&.right-block
			margin-left 0%
	.cicle-right-home
		&.prices
			display none
@media screen and (min-width: 1800px)
	.price-block-container
		&.right-block
			margin-left -4%
	.price-block
		.price-item
			p.big
				font-size 3.8em
@media screen and (min-width: 2000px)
	.home-price-block
		height 1000px
	.rutas-back
		background-size 2500px
		background-position center -570px
	.price-block-container
		&.right-block
			margin-left -6%
@media screen and (min-width: 2400px)
	.home-price-block
		height 1200px
	.rutas-back
		background-size cover
		background-position center 170%
	.price-block-container
		&.right-block
			margin-left -8%