azul-00 = #a7c9d5
azul-01 = #3d8ea1
azul-02 = #226777
amarillo-00 = #f2ab2b

.separated
	letter-spacing 3px
.mayus
	text-transform uppercase
.azul-00
	color azul-00
.azul-01
	color azul-01
.azul-02
	color azul-02
.back-azul-00
	background-color azul-00
.back-azul-01
	background-color azul-01
.back-azul-02
	background-color azul-02
.amarillo-00
	color amarillo-00
.paytone
	font-family 'Paytone One', sans-serif
.roboto
	font-family 'Roboto', sans-serif
.p-top-40
	padding-top 40px
.p-bottom-40
	padding-bottom 40px
body
	background transparent
	font-family 'Roboto', sans-serif
#main
	overflow hidden
.navbar
	background -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%)
	background -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
	background linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
	background-color transparent
.navbar-brand
	img
		width 56px
		height auto
		display block
.menu-header-menu-container
	width 100%
.navbar-collapse
	padding-left 0
	padding-top 10px
	li
		display block
		margin 5px 0
		a
			color white
.main-banner-home
	width 100%
	display block
	height 300px
	background gray
	padding-top 230px
	border-bottom 5px solid amarillo-00
h1.banner-title
	font-size 2em
	line-height .6em
	color white
	span
		font-size .4em
		letter-spacing 3px
.home-price-block
	width 100%
	background azul-00
	height 420px
	background transparent url(./images/background-precios-mobile.jpg) no-repeat 80px top
	background-size 500px
	padding-top 20px
	position relative
	overflow hidden
h2.title
	color white
	padding-left 150px
	font-size 1.4em
.image-racer-home
	width 185%
	height auto
	position absolute
	left 0
	bottom 0
	img
		width 100%
		height auto
		display block
.prices-container
	margin-top 40px
.price-item
	color white
	padding-left 120px
	position relative
	z-index 10
	.big-letter
		position absolute
		z-index -1
		font-size 6em
		top -50px
		left 100px
		color rgba(white, .4)
	p
		margin-bottom 0
		&.price-title
			font-size .7em
		&.big
			font-size 2em
			margin-top -10px
			position relative
			&::before
				content ''
				width 80px
				height 2px
				background amarillo-00
				bottom 0
				position absolute
		&.diclaimer
			font-size .7em
			font-weight 100
			padding-right 100px
			margin-top -15px
	.olas
		padding-left 80px
		img
			width 40px
.rutas-back
	background-image url(./images/background-rutas-parallax-mobile.jpg)
	background-position center -100%
	background-repeat no-repeat
	background-size 100%
	border-top 1px solid azul-01
	position relative
.cicle-left-home
	background-color amarillo-00
	width 50px
	height 50px
	border-radius 50%
	position absolute
	left -25px
	top -25px
.cicle-right-home
	background-color amarillo-00
	width 70px
	height 70px
	border-radius 50%
	position absolute
	right -25px
	top 70%
	display flex
	align-items center
	img
		width 60px
		margin-left -30px
.rutas-home
	text-align center
	padding 30px 0
	h2.title-rutas
		color azul-01
		display inline-block
		margin-bottom 0
	p
		color azul-01
		font-size .8em
	.routes-container
		text-align center
	.route-item
		display inline-block
		width 80%
		height auto
		.image
			margin-bottom 30px
		img
			width 100%
			height auto
			display block
footer
	color white
	font-weight 100
	.block-footer
		border-top 1px solid amarillo-00
		padding-top 20px
		&:first-of-type
			border none
			padding-top 0
	.social-links
		padding 30px 0
		margin 0
		text-align center
		li
			display inline-block
			margin 0 10px
			a
				color white
	.footer-title
		font-size 1.1em
		font-weight normal
	.footer-menu
		padding 0
		li
			display block
			a
				color white
@media screen and (min-width: 400px)
	.rutas-back
		background-position center -400%
	.home-price-block
		background-position -40% top
		background-size 700px
		height 620px
	.price-item
		padding-left 50%
		.big-letter
			left 45%
	h2.title
		padding-left 45%
	.rutas-back
		background-position center -400px
		background-size 768px
@media screen and (min-width: 600px)
	.home-price-block
		background-position -70% top
		height 720px
		background-size 900px
@media screen and (min-width: 768px)
	.navbar-collapse
		justify-content flex-end
		li
			margin 0
			display inline-block
			a
				padding 5px
	.main-banner-home
		height 480px
		padding-top 400px
	h2.title
		font-size 2em
		padding-left 65%
	.home-price-block
		padding-top 50px
		background transparent url(./images/background-precios-1920.jpg) no-repeat 200px top
		background-size cover
		height 500px
	.price-item
		padding-left 65%
		.big-letter
			left 60%
	.image-racer-home
		width 120%
	.rutas-back
		background-image url(./images/background-rutas-parallax-1920.jpg)
		background-position center -160px
		background-size 1200px
	.cicle-left-home
		width 110px
		height 110px
		left -55px
		top -55px
	.cicle-right-home
		background-color amarillo-00
		width 130px
		height 130px
		right -55px
		top 55%
		img
			width 100px
			margin-left -80px
	.rutas-home
		h2.title-rutas
			font-size 2.6em
		p
			font-size .9em
		.route-item
			width 60%
			.title
				font-size 1.8em
	footer
		.block-footer
			border-top none
			padding-top 0
			border-left 1px solid amarillo-00
@media screen and (min-width: 992px)
	.main-banner-home
		height 570px
		padding-top 460px
		h1.banner-title
			font-size 2.8em
	h2.title
		font-size 2.4em
	.home-price-block
		height 500px
	.price-item
		padding-left 65%
		.big-letter
			left 60%
		p.price-title
			font-size .85em
		p.big
			font-size 2.4em
		p.diclaimer
			font-size .8em
		.olas
			img
				width 65px
	.image-racer-home
		width 100%
	.rutas-back
		background-size 1400px
@media screen and (min-width: 1200px)
	.home-price-block
		height 600px
	.image-racer-home
		width 80%
	.rutas-back
		background-image url(./images/background-rutas-parallax-1920.jpg)
		background-size 1500px
@media screen and (min-width: 1400px)
	.rutas-back
		background-size 1700px
		background-position center -250px
@media screen and (min-width: 1600px)
	.home-price-block
		height 800px
	.image-racer-home
		width 90%
	.rutas-back
		background-size 2100px
		background-position center -410px
@media screen and (min-width: 2000px)
	.home-price-block
		height 1000px
	.rutas-back
		background-size 2500px
		background-position center -570px
@media screen and (min-width: 2400px)
	.home-price-block
		height 1200px
	.rutas-back
		background-size cover
		background-position center 170%